SPARK_UI_BASE_URL=https://spark-ui.company.net
YARN_RM_BASE_URL=https://yarn-rm.company.net:8088
SPARK_HISTORY_BASE_URL=https://spark-history.company.net
AUTH_STRATEGY=auto
COOKIE_VAULT_PATH=./secrets/cookies.enc
SESSION_ENCRYPTION_KEY=replace-with-32-byte-key
MCP_LOG_LEVEL=info
